b{
  color: brown
}
p{
  font-size: 120%

}
img{
  width: 20%
}
body{
  font-family: 'Press Start 2P', cursive;
}
.my-title{
  font-size: 400%;
}
.padded-text{
  padding-right: 10%;
  padding-left: 10%;
}
